$light-gray: #aeaeae;
$light-blue: #59bfe9;
$light-pink: #ec7da1;
$blue: #00aeef;
$gray: #858585;
$pink: #c15c87;
$black: #333;

//components
@import "components/help-classes.scss";
@import "components/fonts.scss";
@import "components/icons.scss";

//pages
@import "pages/footer.scss";
@import "pages/header.scss";
@import "pages/index.scss";
@import "pages/main.scss";